pipeline/Caterpillar.json
{
	"name": "Caterpillar",
	"properties": {
		"activities": [
			{
				"name": "Token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://fedlogin.cat.com/as/token.oauth2",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded",
						"Authorization": "Basic aXNvMTUxNDNfY3VzdC0wMDQtMjk2OTQ4NDM5NC1kZWZhdWx0X2NjX2NsaWVudDo4OTZ4TE5JUkljVUJDaldDcUd4T3BwdGNGdXE2ellKVGh4Z0tqWnE4cG1pamN2VGtKU3FNMVJxaklOQ201UDlt"
					},
					"body": "grant_type=client_credentials&scope=manage:all"
				}
			},
			{
				"name": "Fleet Snapshot",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('Token').output.access_token}",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['EquipmentHeader']['OEMName']"
								},
								"sink": {
									"name": "EquipmentHeader.OEMName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['EquipmentHeader']['Model']"
								},
								"sink": {
									"name": "EquipmentHeader.Model",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['EquipmentHeader']['SerialNumber']"
								},
								"sink": {
									"name": "EquipmentHeader.SerialNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Location']['Latitude']"
								},
								"sink": {
									"name": "Location.Latitude",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Location']['Longitude']"
								},
								"sink": {
									"name": "Location.Longitude",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Location']['Altitude']"
								},
								"sink": {
									"name": "Location.Altitude",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Location']['AltitudeUnits']"
								},
								"sink": {
									"name": "Location.AltitudeUnits",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Location']['Datetime']"
								},
								"sink": {
									"name": "Location.Datetime",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulativeIdleHours']['Hour']"
								},
								"sink": {
									"name": "CumulativeldleHours.Hour",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulativeIdleHours']['Datetime']"
								},
								"sink": {
									"name": "CumulativeldleHours.Datetime",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulativeOperatingHours']['Hour']"
								},
								"sink": {
									"name": "CumulativeOperationHours.Hour",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulativeOperatingHours']['Datetime']"
								},
								"sink": {
									"name": "CumulativeOperationHours.Datetime",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Distance']['OdometerUnits']"
								},
								"sink": {
									"name": "Distance.OdometerUnits",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Distance']['Odometer']"
								},
								"sink": {
									"name": "Distance.Odometer",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['EngineStatus']['EngineNumber']"
								},
								"sink": {
									"name": "EngineStatus.EngineNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['EngineStatus']['Running']"
								},
								"sink": {
									"name": "EngineStatus.Running",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['EngineStatus']['Datetime']"
								},
								"sink": {
									"name": "EngineStatus.Datetime",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['FuelUsed']['FuelUnits']"
								},
								"sink": {
									"name": "FuelUsed.FuelUnits",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['FuelUsed']['FuelConsumed']"
								},
								"sink": {
									"name": "Fuelused.FuelConsumed",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['FuelUsed']['Datetime']"
								},
								"sink": {
									"name": "FuelUsed.Datetime",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['FuelRemaining']['Percent']"
								},
								"sink": {
									"name": "FuelRemaining.Percent",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['FuelRemaining']['Datetime']"
								},
								"sink": {
									"name": "FuelRemaining.Datetime",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['Equipment']"
					}
				},
				"inputs": [
					{
						"referenceName": "CAT",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CAT_Snapshot",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-11-26T13:29:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}