pipeline/Codatahost.json
{
	"name": "Codatahost",
	"properties": {
		"activities": [
			{
				"name": "GetRecords",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 3,
					"retryIntervalInSeconds": 120,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.codatahost.com/mons2/v1/cmp/330/cardsale/transactions/items?take=1",
					"method": "GET",
					"authentication": {
						"type": "Basic",
						"username": "lars.nygard@risa.no",
						"password": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				}
			},
			{
				"name": "Set total record count",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetRecords",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TotalRecordCount",
					"value": {
						"value": "@string(activity('GetRecords').output.PagerInfo.TotalRecordCount)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set pages",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set total record count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Pages",
					"value": {
						"value": "@string(add(div(int(variables('TotalRecordCount')), int(variables('MaxRecordsPerPage'))), 1))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "For all pages",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set pages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(int(variables('Page')), div(int(variables('Pages')), 10))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set NextPage",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "NextPage",
								"value": {
									"value": "@variables('Page')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Get Transactions to SQL",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set NextPage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Transactions_SQL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Take": {
										"value": "@variables('MaxRecordsPerPage')",
										"type": "Expression"
									},
									"Skip": {
										"value": "@mul(int(variables('Page')), int(variables('MaxRecordsPerPage')))",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set Page",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get Transactions to SQL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Page",
								"value": {
									"value": "@string(add(int(variables('NextPage')), 1))",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"variables": {
			"TotalRecordCount": {
				"type": "String",
				"defaultValue": "161000"
			},
			"MaxRecordsPerPage": {
				"type": "String",
				"defaultValue": "500"
			},
			"Pages": {
				"type": "String",
				"defaultValue": "322"
			},
			"Page": {
				"type": "String",
				"defaultValue": "0"
			},
			"NextPage": {
				"type": "String",
				"defaultValue": "4"
			}
		},
		"folder": {
			"name": "CoDataHost"
		},
		"annotations": [],
		"lastPublishTime": "2021-06-17T10:41:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}