pipeline/Fuel_Hours.json
{
	"name": "Fuel_Hours",
	"properties": {
		"activities": [
			{
				"name": "GetHours from API",
				"description": "Loops all serial numbers and loads the hours (operating and idle) from the API",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set end date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set start date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetFleetFromSQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFleetFromSQL').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Delay next operation",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Execute GetIdleHours",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 5
							}
						},
						{
							"name": "Delay finish",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Execute GetOperatingHours",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 5
							}
						},
						{
							"name": "GetToken",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://idp.prod.shared.eu.vgtng.volvo.com/identityprovider/oauth/token",
								"method": "POST",
								"headers": {
									"Authorization": "Basic UmVudGFsT25lQVM6cHRhRVBmREh4NmJWdUY0VA==",
									"Content-Type": "application/x-www-form-urlencoded"
								},
								"body": "grant_type=password&username=aemp2_user%40risa.no&password=abcd1234&scope=auto"
							}
						},
						{
							"name": "SetToken",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GetToken",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Token",
								"value": {
									"value": "@{activity('GetToken').output.access_token}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute GetIdleHours",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "SetToken",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "GetIdleHours",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Make": {
										"value": "@item().EquimentHeader_OEMName",
										"type": "Expression"
									},
									"Model": {
										"value": "@item().EquimentHeader_Model",
										"type": "Expression"
									},
									"OEMSerialNumber": {
										"value": "@item().EquimentHeader_SerialNumber",
										"type": "Expression"
									},
									"Datetime_from": {
										"value": "@variables('Date_from')",
										"type": "Expression"
									},
									"Datetime_to": {
										"value": "@variables('Date_to')",
										"type": "Expression"
									},
									"Token": {
										"value": "@variables('Token')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Execute GetOperatingHours",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Delay next operation",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "GetOperatingHours",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Make": {
										"value": "@item().EquimentHeader_OEMName",
										"type": "Expression"
									},
									"Model": {
										"value": "@item().EquimentHeader_Model",
										"type": "Expression"
									},
									"OEMSerialNumber": {
										"value": "@item().EquimentHeader_SerialNumber",
										"type": "Expression"
									},
									"Datetime_from": {
										"value": "@variables('Date_from')",
										"type": "Expression"
									},
									"Datetime_to": {
										"value": "@variables('Date_to')",
										"type": "Expression"
									},
									"Token": {
										"value": "@variables('Token')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "GetFuel from API",
				"description": "Loops all serial numbers and loads the fuel consumed from the API",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetHours from API",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFleetFromSQL').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Get_Fuel",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "SetToken for activity",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Get_Fuel",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Make": {
										"value": "@item().EquimentHeader_OEMName",
										"type": "Expression"
									},
									"Model": {
										"value": "@item().EquimentHeader_Model",
										"type": "Expression"
									},
									"OEMSerialNumber": {
										"value": "@item().EquimentHeader_SerialNumber",
										"type": "Expression"
									},
									"Datetime_from": {
										"value": "@variables('Date_from')",
										"type": "Expression"
									},
									"Datetime_to": {
										"value": "@variables('Date_to')",
										"type": "Expression"
									},
									"Token": {
										"value": "@variables('Token')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "GetToken for activity",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://idp.prod.shared.eu.vgtng.volvo.com/identityprovider/oauth/token",
								"method": "POST",
								"headers": {
									"Authorization": "Basic UmVudGFsT25lQVM6cHRhRVBmREh4NmJWdUY0VA==",
									"Content-Type": "application/x-www-form-urlencoded"
								},
								"body": "grant_type=password&username=aemp2_user%40risa.no&password=abcd1234&scope=auto"
							}
						},
						{
							"name": "SetToken for activity",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Delay progress",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Token",
								"value": {
									"value": "@{activity('GetToken for activity').output.access_token}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Delay progress",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "GetToken for activity",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 5
							}
						}
					]
				}
			},
			{
				"name": "GetFleetFromSQL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT([EquimentHeader_SerialNumber]),  [EquimentHeader_Model], [EquimentHeader_OEMName]\n  FROM [dbo].[VolvoCE_Fleet]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "VolvoCE_Fleet_SQL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set start date",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Date_from",
					"value": {
						"value": "@pipeline().parameters.Datetime_from",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set end date",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Date_to",
					"value": {
						"value": "@pipeline().parameters.Datetime_to",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Datetime_from": {
				"type": "string",
				"defaultValue": "2020-10-01T00:00:00Z"
			},
			"Datetime_to": {
				"type": "string",
				"defaultValue": "2020-10-27T23:59:59Z"
			}
		},
		"variables": {
			"Token": {
				"type": "String"
			},
			"FleetCount": {
				"type": "String"
			},
			"FleetArray": {
				"type": "Array"
			},
			"Date_from": {
				"type": "String"
			},
			"Date_to": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Volvo CE"
		},
		"annotations": [],
		"lastPublishTime": "2021-06-16T07:26:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}