pipeline/GetOperatingHours.json
{
	"name": "GetOperatingHours",
	"properties": {
		"activities": [
			{
				"name": "GetOperatingHoursInformation",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://api.volvo.com/vce/cs/caretrack/aemp/Fleet/Equipment/MakeModelSerial/',pipeline().parameters.Make,'/',pipeline().parameters.Model,'/',pipeline().parameters.OEMSerialNumber,'/CumulativeOperatingHours/',pipeline().parameters.Datetime_from,'/',pipeline().parameters.Datetime_to,'/1')",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"X-IBM-Client-ID": "78ff749ac089f3c1b86a2c3566e59677",
						"Authorization": {
							"value": "@concat('Bearer ', pipeline().parameters.Token)",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set links",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Delay next activity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Links",
					"value": {
						"value": "@json(xml(activity('GetOperatingHoursInformation').output.Response)).CumulativeOperatingHoursMessages.Links",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set pages",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set links",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Pages",
					"value": {
						"value": "@last(split(last(variables('Links')).href, '/'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "For all pages",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set pages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(variables('Page'),variables('Pages'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set nextPage",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "nextPage",
								"value": {
									"value": "@string(add(int(variables('Page')),1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Delay progress",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "GetOperatingHours",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 20
							}
						},
						{
							"name": "Set page",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Delay progress",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Page",
								"value": {
									"value": "@variables('nextPage')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "GetOperatingHours",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set nextPage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "XmlSource",
									"additionalColumns": [
										{
											"name": "SerialNumber",
											"value": {
												"value": "@pipeline().parameters.OEMSerialNumber",
												"type": "Expression"
											}
										},
										{
											"name": "Source",
											"value": "OperatingHours"
										}
									],
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET",
										"additionalHeaders": {
											"value": "X-IBM-Client-ID:78ff749ac089f3c1b86a2c3566e59677\nAuthorization:Bearer @{pipeline().parameters.Token}",
											"type": "Expression"
										},
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "XmlReadSettings",
										"validationMode": "none",
										"namespaces": true
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['Hour']"
											},
											"sink": {
												"name": "Hour",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['@datetime']"
											},
											"sink": {
												"name": "Datetime",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "$['SerialNumber']"
											},
											"sink": {
												"name": "EquipmentHeader_SerialNumber",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['Source']"
											},
											"sink": {
												"name": "Source",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['CumulativeOperatingHoursMessages']['CumulativeOperatingHours']",
									"mapComplexValuesToString": true
								}
							},
							"inputs": [
								{
									"referenceName": "GetOperatingHours_XML",
									"type": "DatasetReference",
									"parameters": {
										"Model": {
											"value": "@pipeline().parameters.Model",
											"type": "Expression"
										},
										"SerialNumber": {
											"value": "@pipeline().parameters.OEMSerialNumber",
											"type": "Expression"
										},
										"DateTime_from": {
											"value": "@pipeline().parameters.Datetime_from",
											"type": "Expression"
										},
										"DateTime_to": {
											"value": "@pipeline().parameters.Datetime_to",
											"type": "Expression"
										},
										"OEM": {
											"value": "@pipeline().parameters.Make",
											"type": "Expression"
										},
										"Page": {
											"value": "@variables('Page')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "VolvoCE_Hour_SQL",
									"type": "DatasetReference"
								}
							]
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "Delay next activity",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "GetOperatingHoursInformation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 5
				}
			},
			{
				"name": "Delay next activity on error",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "GetOperatingHoursInformation",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 5
				}
			}
		],
		"parameters": {
			"Make": {
				"type": "string"
			},
			"Model": {
				"type": "string"
			},
			"OEMSerialNumber": {
				"type": "string"
			},
			"Datetime_from": {
				"type": "string"
			},
			"Datetime_to": {
				"type": "string"
			},
			"Token": {
				"type": "string"
			}
		},
		"variables": {
			"Page": {
				"type": "String",
				"defaultValue": "1"
			},
			"Pages": {
				"type": "String",
				"defaultValue": "1"
			},
			"nextPage": {
				"type": "String",
				"defaultValue": "1"
			},
			"Links": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Volvo CE"
		},
		"annotations": [],
		"lastPublishTime": "2021-06-16T07:26:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}