pipeline/PopulateFromVisma.json
{
	"name": "PopulateFromVisma",
	"properties": {
		"activities": [
			{
				"name": "Lookup total pages",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Stored procedure1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM dbo.Pages  WHERE TableName LIKE 'VismaExtraTest';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "PagesPimcore",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set TotalPages",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup total pages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TotalPages",
					"value": {
						"value": "@string(activity('Lookup total pages').output.firstRow.TotalPages)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set TotalPages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(int(variables('Page')), int(variables('TotalPages')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "VismaInventory",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:06:00",
									"requestInterval": "00.00:00:00.002",
									"requestMethod": "GET",
									"additionalHeaders": {
										"ipp-application-type": "Visma.net Financials",
										"ipp-company-id": "3464226",
										"Authorization": "Bearer c5b7d8ba-4cf8-4312-a520-6709738cae9c"
									},
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"ItemSKU"
										]
									},
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['inventoryNumber']"
											},
											"sink": {
												"name": "ItemSKU",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['description']"
											},
											"sink": {
												"name": "Description",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['lastModifiedDateTime']"
											},
											"sink": {
												"name": "modificationDate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['costPriceStatistics']['lastCost']"
											},
											"sink": {
												"name": "LastCostPrice",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "$['costPriceStatistics']['averageCost']"
											},
											"sink": {
												"name": "AverageCostPrice",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "$['warehouseDetails'][0]['available']"
											},
											"sink": {
												"name": "IteminStock",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "VismaInventory",
									"type": "DatasetReference",
									"parameters": {
										"Page": {
											"value": "@variables('Page')",
											"type": "Expression"
										},
										"NumberItem": "5000"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "VismaDB",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Set variable Help",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "VismaInventory",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Help",
								"value": {
									"value": "@string(add(int(variables('Page')),1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable Page",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable Help",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Page",
								"value": {
									"value": "@variables('Help')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "Copy data",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "TableName",
								"value": "VismaExtraTest"
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"ipp-application-type": "Visma.net Financials",
							"ipp-company-id": "3464226",
							"Authorization": "Bearer c5b7d8ba-4cf8-4312-a520-6709738cae9c"
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"TableName"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['metadata']['totalCount']"
								},
								"sink": {
									"name": "TotalCount",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['TableName']"
								},
								"sink": {
									"name": "TableName",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "VismaInventory",
						"type": "DatasetReference",
						"parameters": {
							"Page": "1",
							"NumberItem": "1"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "PagesPimcore",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[InsertPages]",
					"storedProcedureParameters": {
						"PageNumber": {
							"value": "5000",
							"type": "Int32"
						},
						"TableName": {
							"value": "VismaExtraTest",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ExtraLeker",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"TotalPages": {
				"type": "String"
			},
			"Page": {
				"type": "String",
				"defaultValue": "1"
			},
			"Help": {
				"type": "String"
			}
		},
		"annotations": []
	}
}