pipeline/Test 2.json
{
	"name": "Test 2",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "SetPages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(variables('CurrentPage')),int(variables('Pages')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "VismaExtraTest",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT TOP(5) ItemSKU, Description, ItemVAT, ItemSalePrice, RowNum FROM (SELECT *,ROW_NUMBER() OVER (ORDER BY ItemSKU) As RowNum FROM [dbo].[ExtraTest]) AS FullTable WHERE RowNum >',variables('Limit') )",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ExtraTest",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "IncrementPage",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Execute Pipeline1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "PageIncrement",
								"value": {
									"value": "@string(add(int(variables('CurrentPage')),1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetNewPage",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "IncrementPage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "CurrentPage",
								"value": {
									"value": "@variables('PageIncrement')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "VismaExtraTest",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "test3",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"VismaExtraTest": {
										"value": "@activity('VismaExtraTest').output.value",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "IncrementLimit",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Execute Pipeline1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "LimitIncrement",
								"value": {
									"value": "@string(add(int(variables('Limit')),5))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "NewLimit",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "IncrementLimit",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Limit",
								"value": {
									"value": "@variables('LimitIncrement')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "Total",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT count(*) AS TOTAL \nFROM dbo.ExtraTest ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ExtraTest",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "SetPages",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Total",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Pages",
					"value": {
						"value": "@string(div(activity('Total').output.firstRow.TOTAL,5000))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Pages": {
				"type": "String"
			},
			"Limit": {
				"type": "String",
				"defaultValue": "0"
			},
			"CurrentPage": {
				"type": "String",
				"defaultValue": "1"
			},
			"PageIncrement": {
				"type": "String"
			},
			"Test": {
				"type": "String"
			},
			"LimitIncrement": {
				"type": "String"
			}
		},
		"annotations": []
	}
}