pipeline/ToVismaNet_copy1.json
{
	"name": "ToVismaNet_copy1",
	"properties": {
		"activities": [
			{
				"name": "Total",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT count(*) AS TOTAL \nFROM dbo.VismaExtraTest ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ExtraTest",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "SetPages",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Total",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Pages",
					"value": {
						"value": "@string(div(activity('Total').output.firstRow.TOTAL,5000))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Limit": {
				"type": "String",
				"defaultValue": "0"
			},
			"Pages": {
				"type": "String"
			},
			"Current Page ": {
				"type": "String",
				"defaultValue": "1"
			},
			"Test": {
				"type": "String"
			},
			"PageIncrement": {
				"type": "String"
			}
		},
		"annotations": []
	}
}