pipeline/VolvoTrucks_VehicleStatuses.json
{
	"name": "VolvoTrucks_VehicleStatuses",
	"properties": {
		"activities": [
			{
				"name": "Lookup_LastDate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TOP 1 * \n  FROM [dbo].[VolvoTrucksStatus]\n  ORDER BY createdDateTime DESC",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "VolvoTruckStatusNewData",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set_LastDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_LastDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Last",
					"value": {
						"value": "@string(activity('Lookup_LastDate').output.firstRow.createdDateTime)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_HaveNext",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_LastDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Next",
					"value": {
						"value": "@activity('Lookup_LastDate').output.firstRow.moreDataAvailable",
						"type": "Expression"
					}
				}
			},
			{
				"name": "UntilToday",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set_LastDate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set_HaveNext",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(greater(addseconds(variables('Last'),3600), utcnow()),equals(variables('Next'),'true'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "VolvoTruckStatus",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "NewFrom",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET",
										"additionalHeaders": "Authorization: Basic MjRBMEY3QThDQTpyOVZ6ZWNpTnJ4\nAccept: application/x.volvogroup.com.vehiclestatuses.v1.0+json\nContent-Type: application/x.volvogroup.com.vehiclestatuses.v1.0+json",
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['vin']"
											},
											"sink": {
												"name": "vin",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['triggerType']['triggerType']"
											},
											"sink": {
												"name": "triggerType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['triggerType']['context']"
											},
											"sink": {
												"name": "context",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['createdDateTime']"
											},
											"sink": {
												"name": "createdDateTime",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['receivedDateTime']"
											},
											"sink": {
												"name": "receivedDateTime",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['totalEngineHours']"
											},
											"sink": {
												"name": "totalEngineHours",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['engineTotalFuelUsed']"
											},
											"sink": {
												"name": "engineTotalFuelUsed",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['accumulatedData']['durationWheelbaseSpeedOverZero']"
											},
											"sink": {
												"name": "durationWheelbaseSpeedOverZero",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['accumulatedData']['distanceCruiseControlActive']"
											},
											"sink": {
												"name": "distanceCruiseControlActive",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['accumulatedData']['durationCruiseControlActive']"
											},
											"sink": {
												"name": "durationCruiseControlActive",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['accumulatedData']['fuelConsumptionDuringCruiseActive']"
											},
											"sink": {
												"name": "fuelConsumptionDuringCruiseActive",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['accumulatedData']['durationWheelbaseSpeedZero']"
											},
											"sink": {
												"name": "durationWheelbaseSpeedZero",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['accumulatedData']['fuelWheelbaseSpeedZero']"
											},
											"sink": {
												"name": "fuelWheelbaseSpeedZero",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['accumulatedData']['fuelWheelbaseSpeedOverZero']"
											},
											"sink": {
												"name": "fuelWheelbaseSpeedOverZero",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['moreDataAvailable']"
											},
											"sink": {
												"name": "moreDataAvailable",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['requestServerDateTime']"
											},
											"sink": {
												"name": "requestServerDateTime",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['vehicleStatusResponse']['vehicleStatuses']",
									"mapComplexValuesToString": true
								}
							},
							"inputs": [
								{
									"referenceName": "JsonVolvoTrucks_vehiclestatuses",
									"type": "DatasetReference",
									"parameters": {
										"From": {
											"value": "@string(variables('From'))",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "VolvoTruckStatusNewData",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "NewFrom",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set_LastDate_ny",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "From",
								"value": {
									"value": "@addseconds(variables('Last'),1)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Lookup_LastDate_ny",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT TOP 1 * \n  FROM [dbo].[VolvoTrucksStatus]\n  ORDER BY createdDateTime DESC",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "VolvoTruckStatusNewData",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Set_LastDate_ny",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookup_LastDate_ny",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Last",
								"value": {
									"value": "@string(activity('Lookup_LastDate_ny').output.firstRow.createdDateTime)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set_HaveNext_ny",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookup_LastDate_ny",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Next",
								"value": {
									"value": "@activity('Lookup_LastDate_ny').output.firstRow.moreDataAvailable",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"variables": {
			"Last": {
				"type": "String"
			},
			"Next": {
				"type": "String"
			},
			"From": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-10-25T10:09:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}